<nav class="navbar">
    <ul>
      <li><a id="main" href="">Todoom</a></li>
    </ul>

    <ul class="nav">
      <li><a href="/">Todo</a></li>
      <li><a href="/zodiac">Zodiac</a></li>
      <li><a href="/login">Profile</a></li>
    </ul>
  </nav>