ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li a {
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.navbar{
    padding:0 60px;
    padding-top: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    display: flex;
    align-items: center;
}

#main{
    font-family: 'K2D';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}
  
li a:hover {
    color:rgba(37, 97, 6, 1);
}

.panel{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%) translateY(50%);
    max-height: 100%;
    max-width: 40%;
    height: 350px;
    align-items: center;
    padding: 80px 50px;
    box-shadow: 0px 0px 50px rgba(26, 54, 12, 0.2);
    border-radius: 30px;
    margin-top: -150px;
}

.title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    color: #256106;
    margin-bottom: 55px;
    margin-top: -20px;
}


input[type=text] {
    background-color: #EBF4EE;
    color: rgb(0, 0, 0);
    border: none;
    padding: 15px;
    border-radius: 30px;
    width: 324px;
    margin: 12px;
}

.btn{
    border-color: rgba(72, 175, 18, 1);
    color: rgba(72, 175, 18, 1);
    box-shadow: none;
    width: 122px;
    height: 39px;
    border-radius: 30px;
    background-color: #ffffff;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 125px;
}

.btn:hover{
    background-color: rgba(72, 175, 18, 1);
    color: #fff;
}